<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="css/ionic.min.css">
		<link rel="stylesheet" href="css/jquery.mobile-1.4.2.min.css">
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js">
</script>
<style>
body{background-color:#EEEEEE;background-image:url();
    background-size: 100% 225%;}</style>
    
		<title>反馈详情</title>
	</head>
<body ng-controller="PopupCtrl">
	<div class="bar bar-header bar-positive">
      <button class="button  icon ion-android-arrow-back"></button>
      <h1 class="title" style="font-size:large;font-family:微软雅黑">"两学一做"知识竞赛</h1>
      </div>
      <div class="content has-header">
      	<div class="row" style="padding-top:80px"></div>
<div  class="list card">
	
<div class="item item-avatar" >
	<image src="images/8.jpg">
	<h2 style="font-size:x-large">单选</h2>
	<p>第1题</p>
</div>
<div class="item item-body">
	<h2>全面提高党的建设科学化水平，全党要增强紧迫感和责任感，牢牢把握的主线是</h2>
  <form action="" >
     <input type="radio" name="1" value="a">A.加强党的执政能力建设<br>
      <input type="radio" name="1" value="b">B.加强先进性、纯洁性建设和党的执政能力建设<br>
      <input type="radio" name="1" value="c">C.加强先进性和纯洁性建设<br>
      <input type="radio" name="1" value="d">D.加强党的执政能力建设、先进性和纯洁性建设</form>
<p>
<a href="#" class="subdued">上一题</a>
<a href="#" class="subdued button-primary" id="aa">提交</a></p>
</div>
</div>
</div>
</body>
<script type="text/javascript">
$("#aa").click(function(){
   if(confirm("是否确认提交")){
   }
})
</script>
</html>