<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href="//cdn.bootcss.com/ionic/1.3.0/css/ionic.css" rel="stylesheet">
		<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
		<link href="//cdn.bootcss.com/jquery-mobile/1.4.3/jquery.mobile.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/question.css">
		<title>答题界面</title>
	</head>
	<body>
		<div class="bar bar-header bar-positive">
			<button class="button  icon ion-android-arrow-back"></button>
			<h1 class="title" style="font-size:large;font-family:微软雅黑">"两学一做"知识竞赛</h1>
		</div>
		<div class="content has-header">
			{% for item in data %}
				<div class="row" style="padding-top:5px"></div>
				<div  class="list card">
					<div class="item item-avatar" >
						<image src="../static/images/8.jpg">
						<h2 style="font-size:x-large">单选</h2>
						<!--<p id="{{item.id}}"></p>-->
					</div>
					<div class="item item-body">
						<h2>{{item.question}}</h2>
						<form action="/result" method="post" >
							<label>
								<input class="hidden-input" type="radio" name="{{item.id}}" value="A"><span></span>A.{{item.answer1}}<br>
							</label>
							<label>
								<input class="hidden-input" type="radio" name="{{item.id}}" value="B"><span></span>B.{{item.answer1}}<br>
							</label>
							<label>
								<input class="hidden-input" type="radio" name="{{item.id}}" value="C"><span></span>C.{{item.answer1}}<br>
							</label>
							<label>
								<input class="hidden-input" type="radio" name="{{item.id}}" value="D"><span></span>D.{{item.answer1}}
							</label>
						</div>
					</div>
				</div>
			{% end %}
			<button class="button button-primary" type="submit">提交</button>
		</form>
	</body>