<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" rel="stylesheet">
</head>
<style type="text/css">
section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}
	.bg-1 {
    background: url('http://ossec.github.io/_static/laptop.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    margin-left: -80px;
    margin-right: -80px;
}
.bg-2 {
	background: url('http://ossec.github.io/_static/server-rack.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
    margin-left: -80px;
    margin-right: -80px;
}
</style>
<body>
	<section class="bg-1 text-center">
  <h1>OSSEC</h1>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Watching</h3></div>
            <div class="panel-body">OSSEC watches it all, actively monitoring all aspects of Unix system
            activity with file integrity monitoring, log monitoring, rootcheck, and process monitoring.
            With OSSEC you won't be in the dark about what is happening to your valuable computer system
            assets.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Alerting</h3></div>
            <div class="panel-body">When attacks happen OSSEC lets you know through alert logs and email
            alerts sent to you and your IT staff so you can take quick actions. OSSEC also exports alerts to
            any SIEM system via syslog so you can get real-time analytics and insights into your system security
            events.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading"><h3>Everywhere</h3></div>
              <div class="panel-body">Got a variety of operating systems to support and protect?  OSSEC has
              you covered with comprehensive host based intrusion detection across multiple platforms including
              Linux,Solaris, AIX, HP-UX, BSD, Windows, Mac and VMware ESX.
            </div>
          </div>
        </div>
    </div><!--/row-->
</div><!--/container-->


<section class="bg-2">
  <div class="col-sm-10 col-sm-offset-1 text-center">
    <h1>Host Intrusion Detection For Everyone</h1>
  </div>
</section>
</body>
</html>